body {
    background-color: ghostwhite;
}

.logo {
    font-family: Orbitron, sans-serif;
    text-align: center;
    font-size: 27px;
    margin-top: 15%;
    margin-bottom: 10%;
    letter-spacing: 2px;
}

.logo img{
    width: 350px;
}

#mcknz {
    color: black;
}

#dev {
    color: #7C7C7C;
}

.tiles {
    text-align: center;
    display: grid;
    gap: 25px;
    justify-items: center;
}

.tiles a {
    text-decoration: none;
    color: black;
    font-family: Orbitron, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    letter-spacing: 2px;

}

/* --- Tile Colors --- */
.tile1 {border: black 1px solid; background: rgba(193, 193, 201, 0.2); box-shadow: 0 5px #272727; border-radius: 10px; padding: 20px; width: 75%;}
.tile2 {border: black 1px solid; background: rgba(193, 193, 201, 0.2); box-shadow: 0 5px #272727; border-radius: 10px; padding: 20px;width: 75%;}
.tile3 {border: black 1px solid; background: rgba(193, 193, 201, 0.2); box-shadow: 0 5px #272727; border-radius: 10px; padding: 20px;width: 75%;}
.tile4 {border: black 1px solid; background: rgba(193, 193, 201, 0.2); box-shadow: 0 5px #272727; border-radius: 10px; padding: 20px;width: 75%;}
.tile5 {border: black 1px solid; background: rgba(193, 193, 201, 0.2); box-shadow: 0 5px #272727; border-radius: 10px; padding: 20px;width: 75%;}
.tile6 {border: black 1px solid; background: rgba(193, 193, 201, 0.2); box-shadow: 0 5px #272727; border-radius: 10px; padding: 20px;width: 75%;}

.rights {
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 50px;
    text-align: center;
    font-family: "orbitron", sans-serif;
    letter-spacing: 1px;
}

.footnote {
    margin-top: 1px;
    font-size: 12px;
    text-align: center;
    font-family: "orbitron", sans-serif;
    color: black;
}
.footnote a {
    color: black;
}

