header {
    font-family: Orbitron, sans-serif;
    text-align: center;
    font-size: 20px;
    color: silver;
    border: 3px solid black;
    border-radius: 15px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header img {
    height: auto;
    max-width: 80%;
    margin: 0 auto;
    display: block;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
}

body {
    background-color: dimgrey;
}

#first {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}

#first img {
    border: 6px solid black;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2px;
    width: calc(25% - 20px);
}
figure img {
    border: 5px solid black;
}

@media screen and (max-width: 900px) {
    figure {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 600px) {
    figure {
        width: 100%;
    }
}

.wallpaper {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

figcaption {
    margin-top: 5px;
    font-size: 1.2em;
    color: silver;
}
footer{
    text-align: center;
    margin-top: 20px;
}
footer img{
    border: 5px solid black;
}